/*footer*/
.footer{
    text-align: center;
}
.signature{
    font-size: 73px;
    font-family: 'Alex Brush', cursive;
    margin-bottom: -30px;
    margin-top: -10px;
    text-align: center;
}
/*footer fixed-bottom*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }
/*Titre*/

.titre2{
	text-align: center;
    font-family:'Dancing Script', cursive;
}
.titrepost{
    font-size: 35px;
}

.titrepost:hover {
    text-decoration: underline;
}

/*Contenu*/
#contenu {  
    width: 70%;
    margin: auto;    /* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
    margin-bottom : 30px;
}

hr{
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

/*image post */
.activator{
    width: 100%;
}
img.activator.materialboxed {
    margin-top: 25px;
}
/*partie commenter post */
.btncomm{

    display: block !important;
    margin: auto;
}
/*page de log*/

.identification{
    color: #0d91d2;
    background-color:#e0e0e0;
    padding: 50px;
    width: 100%;
    display: block;
    margin:0 auto;
}

.identification h2 {
    text-align: center;
}

.log{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.textadmin{
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}
/* from admin post*/
.formadminpost{
     box-shadow: 5px 5px 30px grey;
     margin-top:30px;
     padding: 5px;
}

.formadminpost:hover{
     box-shadow: 25px 25px 80px grey;
     background-color: #40c4ff;
}
.titrepostadmin{
    text-align: center;
    font-size: 35px;
}
/*Admin message update succes*/
.alert {
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*logoutinterface*/

.btnlogout{
    display:block !important;
    width:150px;
    margin: auto;
}
/*admin interface */
.addbtn {
    margin-left: 35%;
}
.delbtn, .savebtn{
    margin-top: 10px;
    width: 13% ;
}